.reservations-layout {
    padding: 20px;
    margin-top: 20px;
}

.filters {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 16px;
    font-size: 1rem;

}

input, select {
    padding: 6px 12px;
    font-size: 1rem;
}

.reservations-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reservation-card {
    background: #2b2b2b;
    padding: 15px;
    border-radius: 10px;
    border-left: 4px solid transparent;
}

.reservation-card.status-waiting {
    border-left-color: #ffa500;
}
.reservation-card.status-cancelled {
    border-left-color: #ff4d4d;
}
.reservation-card.status-realized {
    border-left-color: #4caf50;
}
.reservation-card.status-expired {
    border-left-color: #999;
}

.action-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

button {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #c62828;
    color: white;
}

.status-label {
    padding: 4px 8px;
    border-radius: 8px;
    display: inline-block;
    min-width: 80px;
    text-align: center;
    border-color: #0f111a;
}

.status-waiting {
    background-color: #facc15;
    color: #1f2937;
}

.status-cancelled {
    background-color: #ef4444;
    color: white;
}

.status-realized, .status-active {
    background-color: #22c55e;
    color: white;
}

.status-expired, .status-returned {
    background-color: #3b82f6;
    color: white;
}